<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.multiname.test/dsl/MultiNameDsl"
			class = "test.multiname.dsl.multiNameDsl.MultiNameDslPackage"
			genModel = "model/generated/MultiNameDsl.genmodel" />
	</extension>
</plugin>
